body {
    background-image: url('../images/pattern1.png');
    
}

nav {
    width: 975px;
    margin: 0 auto;
}

#main-menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

button {
    background-image: url('../images/button_yellow.png');
    color: #877f4d;
    font-size: 16px;
    /*border: 1px solid red;*/
    border: none;
    border-radius: 10px;
    width: 168px;
    height: 57px;
    margin: 3px;
}

#wrapper {
    width: 975px;
   /* margin: 0 auto;
    border: 0px solid #000;
    background-color: whitesmoke;
    display: block;*/
    overflow: auto;
    position:relative;
    z-index:3;
}
footer {
    width:975px;
    height:50px;
    top:50px;
    position:relative;
    font-size: 18px;
    font-family: Calibri;
    color: #403018;
    text-align: center;
    padding-top:10px;
}
#wrapper , footer{
    margin: 0 auto;
    border: 0px solid #000;
    background-color: whitesmoke;
    display: block;
    border-radius: 10px;
}
    #wrapper .nav-list {
        list-style-type: none;
    }


    #wrapper .side-btn {
        width: 120px;
        height: auto;
        padding: 5px 10px;
    }

    #wrapper .img, .phone {
        display: inline-block;
    }

.phone {
    font-size: 18px;
    font-family: Calibri;
    color: #403018;
    text-align: left;
    padding: 15px 0px 0px 40px;
    position: relative;
    bottom: 100px;
}

h2 {
    font-size: 30px;
    font-family: Calibri;
    color: #877f4d;
    text-align: center;
}

.side-nav {
    display: inline-block;
    width: 25%;
    margin: 5px;
    float: left;
}

.nav-list li {
    list-style-type: none;
}

.info-container {
    display: inline-block;
    overflow: scroll;
    width: 70%;
    margin: 5px;
    float: right;
}
